<html>
<head>
	<title>Table</title>

	<style>
		table{
			background: #555;
			color: #fff;
			width: 50%;
			margin:0 auto;
			style:hight:4000px;
		}
		td{
			border-top:1px solid #fff;
			padding: 20px;
		}
		button{
			display: inline-block;
		}
		td{
text-align: left;
		}

		td:first-child{
			cursor:pointer;
		}

		td:first-child:hover{
			background: #ccc;
		}

		td:nth-last-child(1){
			text-align: right;
			width: 10%;
		}
	</style>
</head>
<body>
<table id="row" border="0" cellpadding="0" cellspacing="0">

</table>
<script type="text/javascript" src="/static/stylesheet/delete.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>